<nav class="navbar navbar-dark bg-dark fixed-top">
  <div class="container-fluid">

    <div class="d-flex align-items-center">
      <a class="navbar-brand me-4" routerLink="/">HSPA</a>
      <ul class="navbar-nav flex-row">
        <li class="nav-item me-3">
          <a class="nav-link" href="/buy-property">Buy</a>
        </li>
        <li class="nav-item me-3">
          <a class="nav-link" href="/rent-property">Rent</a>
        </li>
        <li class="nav-item me-3">
          <a class="nav-link highlight" href="/add-property">List Property (Free)</a>
        </li>
      </ul>
    </div>
      <div>
        <ul class="nav navbar-nav flex-row ">
          <li *ngIf="!loggedin()" class="nav-item me-3">
            <a class="nav-link" routerLink="/user/register" routerLinkActive="active">Register</a>
          </li>
          <li *ngIf="!loggedin()" class="nav-item me-3">
            <a class="nav-link" routerLink="/user/login" routerLinkActive="active">Login</a>
          </li>
          <!-- <li *ngIf="loggedin()" class="nav-item me-3">
            <a class="nav-link" (click)="onLogout()" routerLinkActive="active">Logout</a>
          </li> -->
          <div *ngIf="loggedin()" class="dropdown m-5" dropdown>
            <a href="#" class="dropdown-toggle text-light" dropdownToggle (click)="false">
              Welcome
            </a>
            <div class="dropdown-menu" *dropdownMenu>
                <a href="#" class="dropdown-item">
                <i class="fas fa-tachometer-alt"></i> View Dashboard</a>
                <a href="#" class="dropdown-item">
                  <i class="far fa-user-circle"></i> View Profile</a>
                <a href="#" class="dropdown-item">
                  <i class="fas fa-key"></i> Change Password</a>
                <a (click)="onLogout()" class="dropdown-item">
                  <i class="fas fa-sign-out-alt"></i> Logout</a>
            </div>
          </div>
        </ul>
      </div>
  </div>
</nav>
